.reviewer {
  display: flex;
  gap: 12px;
}

.avatar {
  font-size: 20px;
  color: #3470ff;
  border: 1px solid #b1daec;
  border-radius: 50%;
  background-color: #b1daec;
  max-width: 44px;
  min-height: 44px;
  padding: 12px 13px;
  text-align: center;
  justify-content: center;
}
