.nav {
  position: relative;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
}

.nav ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  pointer-events: none;
  background-color: #e3e2e233;
  box-shadow: 0.5px 0.5px 0.5px rgba(223, 222, 222, 0.1);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.logoLeft {
  color: #3470ff;
}

.pages {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.activeLink {
  color: #3470ff;
  font-weight: 900;
}

@media screen and (max-width: 760px) {
  .nav {
    gap: 10px;
    padding: 15px 0;
  }

  .nav ::after {
    height: 0.5px;
  }

  .logo {
    margin-right: 0;
    font-size: 16px;
  }

  .pages {
    gap: 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .nav {
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 8px 0;
  }

  .logo {
    font-size: 10px;
  }

  .logoRight {
    display: block;
  }

  .pages {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 8px;
  }
}
