.auth {
  display: flex;
  list-style: none;
  gap: 8px;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  font-weight: 500;
  margin-left: auto;
}

.login {
  padding: 14px 39px;
  border: 1px solid #191a1533;
  border-radius: 30px;
  background-color: #fff;
}

.reg {
  padding: 14px 39px;
  border: 1px solid #3470ff;
  border-radius: 30px;
  color: #fbfbfb;
  background-color: #3470ff;
}
