.doctorInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.label {
  font-size: 12px;
  color: #888;
}

.name {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.textarea {
  min-height: 80px;
  resize: vertical;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.customTimeWrapper {
  position: relative;
  width: 100%;
}

.customTimeInput {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px 40px 12px 16px; /* padding right для иконки */
  font-size: 16px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  padding: 8px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
}

.dropdown li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "Courier New", Courier, monospace;
}

.dateField {
  flex: 0 0 100%;
  width: 100%;
  font-family: inherit;
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #0a0a0a;
  pointer-events: none;
}

.button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #1d4ed8;
}

.disabledOption {
  color: #ccc;
  text-decoration: line-through;
  cursor: not-allowed;
  background-color: #f9f9f9;
}
