.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  width: 100%;
}

.wrapper {
  max-width: 620px;
  gap: 20px;
}

.title {
  margin-top: 36px;
  font-size: 80px;
  margin-bottom: 20px;
}

.partTitle {
  color: #3470ff;
  font-style: italic;
}

.text {
  font-size: 18px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  padding: 18px 50px;
  border: 1px solid #3470ff;
  border-radius: 30px;
  color: #fbfbfb;
  background-color: #3470ff;
  min-width: 264px;
  min-height: 60px;
}

.picture {
  width: 100%;
  max-width: 464px;
  max-height: 526px;
}

@media screen and (max-width: 760px) {
  .container {
    gap: 40px;
  }

  .title {
    margin-top: 26px;
    font-size: 38px;
    word-break: break-word;
  }

  .text {
    font-size: 16px;
    margin-bottom: 32px;
    word-break: break-word;
  }

  .button {
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 16px;
    color: #fbfbfb;
    background-color: #3470ff;
    min-width: 140px;
    min-height: 30px;
  }

  .button :focus {
    outline: solid 1px blue;
  }

  .picture {
    width: 320px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 375px) {
  .container {
    gap: 24px;
  }

  .title {
    font-size: 18px;
    margin-top: 10px;
  }

  .text {
    font-size: 10px;
    margin-bottom: 12px;
  }

  .button {
    min-width: 120px;
    font-size: 8px;
    padding: 8px 0;
    border-radius: 20px;
  }
}
